vlan 4094
   name mlag-peer
   trunk group mlag-peer

interface vlan 4094
   ip address {{ mlag_ip }}
   no shut
   no autostate

no spanning-tree vlan 4094

{% for interface in mlag_ports %}
interface {{ interface }}
   description MLAG Peer Link
   channel-group {{ mlag_portchannel }} mode active
   no shut
{% endfor %}

interface port-channel {{ mlag_portchannel }}
   description MLAG Peer Link
   switchport mode trunk
   spanning-tree link-type point-to-point
   switchport trunk group mlag-peer
   no shut
   
mlag configuration
   local-interface vlan 4094
   domain-id {{ mlag_domain }}
   peer-link port-channel {{ mlag_portchannel }}
   peer-address {{ hostvars[ha_peer]['mlag_ip'] | ipaddr('address') }}
   no shutdown
